
<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0 ml-0">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">About us</li>
        </ol>
    </div>
</nav>


<div class="About">
    <div class="container">
        <div class="title text-center">
        <h1 class="about-title">About us<span class="text-white">Who we are</span></h1>
    </div>
</div>
</div>


<div class="divide p-4">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="title">Our Vision</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. </p>
        </div>
        
        <div class="col-md-6">
            <h2 class="title">Our Mission</h2>
            <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. <br>Praesent elementum hendrerit tortor. Sed semper lorem at felis. </p>
        </div>
    </div>

   </div>
</div>













<div class="im mt-2 p-5">
    <div class="container">
        <div class="row mr-5">
            <div class="col-md-6 mb-5">
                <h1 class="title">Who We Are</h1>
                <p class="lead mb-3" style="color:#000; font-style: italic; font-weight:bold;  font-size:20px;">Pellentesque odio nisi, euismod pharetra a ultricies <br>in diam. Sed arcu. Cras consequat</p><!-- End .lead text-primary -->
                <p class="mb-2">Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Suspendisse potenti. Sed egestas, ante et vulputate volutpat, uctus metus libero eu augue. </p>

                <a href="#" class="btn btn-sm btn-minwidth " style="color:burlywood; padding: 17px; font-size: 20px; font-weight: bold;margin-top: 20px; border-radius: 9px; border:1px solid burlywood;">
                    <span>VIEW OUR NEWS</span>
                  
                </a>
            </div>

            <div class="col-md-6">
                <div class="about-images">
                    <img src="assets/img-1 (2).jpg" alt="" class="about-img-front">
                    <img src="assets/img-2.jpg" alt="" class="about-img-back">
                </div>
            </div>
        </div>
    </div>
</div>







<div class="brands pt-4">
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <div class="brands-text">
                <h2 class="title">The world's premium design brands in one destination.</h2><!-- End .title -->
                <p>Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nis</p>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="brands-display">
                <div class="row justify-content-center" style="display: flex;">
                    <div class="col-md-4 p-4">
                        <a href="#" class="brand">
                            <img src="assets/1 (1).png" alt="Brand Name">
                        </a>
                    </div><!-- End .col-sm-4 -->

                    <div class="col-md-4 p-4">
                        <a href="#" class="brand ">
                            <img src="assets/b2.png" alt="Brand Name">
                        </a>
                    </div><!-- End .col-sm-4 -->

                    <div class="col-md-4 p-4">
                        <a href="#" class="brand">
                            <img src="assets/b3.png" alt="Brand Name">
                        </a>
                    </div><!-- End .col-sm-4 -->

                    <div class="col-md-4 p-4">
                        <a href="#" class="brand">
                            <img src="assets/b4.png" alt="Brand Name">
                        </a>
                    </div><!-- End .col-sm-4 -->

                    <div class="col-md-4 p-4">
                        <a href="#" class="brand">
                            <img src="assets/b5.png" alt="Brand Name">
                        </a>
                    </div><!-- End .col-sm-4 -->

                    <div class="col-md-4 p-4">
                        <a href="#" class="brand">
                            <img src="assets/b6.png" alt="Brand Name">
                        </a>
                    </div><!-- End .col-sm-4 -->

                    <div class="col-md-4 p-4">
                        <a href="#" class="brand">
                            <img src="assets/b7.png" alt="Brand Name">
                        </a>
                    </div><!-- End .col-sm-4 -->

                    <div class="col-md-4 p-4">
                        <a href="#" class="brand">
                            <img src="assets/b8.png" alt="Brand Name">
                        </a>
                    </div><!-- End .col-sm-4 -->

                    <div class="col-md-4 p-4">
                        <a href="#" class="brand">
                            <img src="assets/b9.png" alt="Brand Name">
                        </a>
                    </div><!-- End .col-sm-4 -->
                </div><!-- End .row -->
            </div><!-- End .brands-display -->
        </div>

    </div>
</div>
</div>

<hr class="mt-4 mb-6">


<div class="container">
    <div class="row">
    <div class="col-md-12 text-center">
        <div class="headparg">
          <h2 class="font-weight-bold py-4">Experience Advisors </h2>
          <p class="text-muted ">Able an hope of body. Any nay shyness article matters own removal nothing his forming. Gay own additions education satisfied the perpetual. If he cause manor happy. Without farther she exposed saw man led. Along on happy could cease green oh.</p>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        <div class="sub1 text-white overflow-hidden mb-4">
          <img class="img-fluid" src="assets/member-1.jpg" alt="">
             <div class="overlay d-flex align-items-center justify-content-center text-center">
          <div>
    
          <h4>Samanta Grey<span>Founder & CEO</span></h4>
          <p >  Sed pretium, ligula sollicitudin viverra, tortor libero sodales leo, eget blandit nunc.</p>
         
         </div>
          </div>
          <div class="info-title">
            <h4 class="pt-3">Samanta Grey</h4>
            <span class="pb-3 d-block">Founder</span>
        </div>
        </div>
        </div>
<div class="col-md-4">
        <div class="sub1 text-white overflow-hidden mb-4">
          <img class="img-fluid" src="assets/member-2.jpg" alt="">
          <div class="overlay d-flex align-items-center justify-content-center text-center">
          <div>
          <h4 class="pt-5">About John Babu<span> Sales & Marketing Managere</span></h4>

          <p> Sed pretium, ligula sollicitudin viverra, tortor libero sodales leo, eget blandit nunc.</p>
         </div>
          </div>
          <div class="info-title">
            <h4 class="pt-3">Bruce Sutton</h4>
            <span class="pb-3 d-block"> Sales & Marketing Manager</span>
        </div>
        </div>
        
        
    </div>
          <div class="col-md-4">
        <div class="sub1 text-white overflow-hidden mb-4">
          <img class="img-fluid" src="assets/member-3.jpg" alt="">
          <div class="overlay d-flex align-items-center justify-content-center text-center">
          <div>
         
          <h4 class="pt-5">Janet Joy<span>Product Manager</span></h4>
          <p> Great explorer of the truth, the master-builder of human happiness.</p>
         
         </div>
          </div>
          <div class="info-title">
            <h4 class="pt-3">Janet Joy</h4>
            <span class="pb-3 d-block">Product Manager</span>
        </div>
        </div>
    </div>
        </div>
    </div>



    
<!--contact-->
<div class="contact">
    <div class="container">
    <div class="row">
        <div class="col-md-3">
        
        <div class="widget">

<img src="assets/logo-footer.png" class="img-fluid">
<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>

<p>Got Question? Call us 24</p>
<h4>+0123 456 789</h4>
 
        </div>
        </div>
        
          <div class="col-md-3 ">
        <div class="widgett">

        <h5>Information</h5>

        <ul class="menuu list-unstyled">
            <li><a>About</a></li>
            <li><a>shop </a></li>
            <li><a>Press</a></li>
            <li><a>OurBlog</a></li>
            <li><a>Advertising</a></li>
           
        </ul>
        </div>
    </div>
  
           <div class="col-md-3">
        <div class="widgett">

        <h5>Customer Service</h5>

        <ul class="menuu list-unstyled">
            <li><a>payment</a></li>
            <li><a>moneyback</a></li>
            <li><a>return</a></li>
            <li><a>shipping</a></li>
            <li><a>terms </a></li>
         
        </ul>

        </div>
    </div>

        
    <div class="col-md-3">
        <div class="widgett">

        <h5>My account</h5>

        <ul class="menuu list-unstyled">
            <li><a>signin</a></li>
            <li><a>view card</a></li>
            <li><a>shist</a></li>
            <li><a>Faqs</a></li>
          
        </ul>

        </div>
    </div>
        </div>

    </div>

</div>
<!--end contact-->
    <div class="scroll">
        <button id="goup" >Goup to adfffff </button>
      </div>
      
    