<div class="product">
    <div class="container">
        <div class="row">
            
                <div class="col-md-5">
                    <div class="product-gallery product-gallery-vertical">
                        <div class="row">
                            <figure class="product-main-image">
                                <img src="assets/3 (1).jpg" data-aos="flip-left" class="img-fluid">
                                <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                  
                                </a>
                            </figure>

                            <div id="product-zoom-gallery" class="product-image-gallery">
                                <a class="product-gallery-item active" href="#" data-image="assets/images/products/single/1.jpg" data-zoom-image="assets/images/products/single/1-big.jpg">
                                    <img src="assets/1-small.jpg" data-aos="flip-left" class="img-fluid">                                </a>

                                <a class="product-gallery-item" href="#" data-image="assets/images/products/single/2.jpg" data-zoom-image="assets/images/products/single/2-big.jpg">
                                    <img src="assets/2-small.jpg" data-aos="flip-left" class="img-fluid">                                </a>

                                <a class="product-gallery-item" href="#" data-image="assets/images/products/single/3.jpg" data-zoom-image="assets/images/products/single/3-big.jpg">
                                    <img src="assets/3-small.jpg" data-aos="flip-left" class="img-fluid">                                </a>

                                <a class="product-gallery-item" href="#" data-image="assets/images/products/single/4.jpg" data-zoom-image="assets/images/products/single/4-big.jpg">

                                    <img src="assets/4-small.jpg" data-aos="flip-left" class="img-fluid">                                </a>
                            </div><!-- End .product-image-gallery -->
                        </div><!-- End .row -->
                    </div><!-- End .product-gallery -->
                </div>



            <div class="col-md-5">
                <h1 class="product-title">Dark yellow lace cut out swing dress</h1>
                <div class="product-price">
                    $84.00
                </div>
                <div class="product-content">
                    <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing. Sed lectus. </p>
                </div>

                <div class="details-filter-row details-row-size">
                    <label>Color:</label>

                    <div class="product-nav product-nav-thumbs">
                        <a href="#" class="active mr-2">
                            <img src="assets/1-thumb.jpg" class="img-fluid">
                        </a>
                        <a href="#">
                            <img src="assets/2-thumb.jpg" class="img-fluid">
                        </a>
                    </div>
                </div>



                <div class="details-filter-row details-row-size mt-3">
                    <label for="size">Size:</label>
                    <div class="select-custom">
                        <select name="size" id="size" class="form-control">
                            <option value="#" selected="selected">Select a size</option>
                            <option value="s">Small</option>
                            <option value="m">Medium</option>
                            <option value="l">Large</option>
                            <option value="xl">Extra Large</option>
                        </select>
                   
            </div>
        </div>
        <div class="bt">
        <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
    </div>
</div>

<div class="col-md-2">
    <div class="Related Product">
<h2>Related Product</h2>
<div class="img1" style="display: flex;">
    <img src="assets/1 (1).jpg" class="img-fluid" style="height: 90px;">
    <div class="imgh ml-2">
      <h6> Light brown studded
Wide fit wedges</h6>
<span>$50.00
$110.00</span>
    </div>
</div>


<div class="img1" style="display: flex; margin-top: 10px;">
    <img src="assets/2 (1).jpg" class="img-fluid" style="height: 90px;">
    <div class="imgh ml-2">
      <h6>Yellow button front tea top</h6>
      <span>$56.00</span> 

    </div>
</div>


<div class="img1" style="display: flex; margin-top: 10px;">
    <img src="assets/3 (2).jpg" class="img-fluid" style="height: 90px;">
    <div class="imgh ml-2">
       <h6> Beige metal hoop tote bag</h6>
<span>$50.00</span>
     

    </div>
</div>

    </div>
</div>

</div>
</div>
</div>


      <!--contact-->
      <div class="contact">
        <div class="container">
        <div class="row">
            <div class="col-md-3">
            
                <div class="widget">
        
        <img src="assets/logo-footer.png" class="img-fluid">
        <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
        
        </p> 
                </div>
                </div>
                <div class="col-md-3">
                    <div class="widgett">
            
                    <h5>information</h5>
            
                    <ul class="menu list-unstyled">
                        <li><a href="#">Aout Molla</a></li>
                        <li><a href="#">How shop Molla</a></li>
                        <li><a href="#">fAQ</a></li>
                        <li><a href="#">contact us</a></li>
                        <li><a href="#">login in</a></li>
                        
                    </ul>
            
                    </div>
                </div>
      
                <div class="col-md-3">
                    <div class="widgett">
            
                    <h5>Customer Service</h5>
            
                    <ul class="menu list-unstyled">
                        <li><a href="#">payment Method</a></li>
                        <li><a href="#">Money back</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="#">privarcy</a></li>
                    </ul>
            
                    </div>
                </div>
                    <div class="col-md-3">
                   <h5 >Nawsletterr</h5>
                   <p>Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan.</p>
                  
                    <input placeholder="Enter your email address" type="text">
                          
                    </div>
    
            </div>
        </div>
    
    
    </div>
    
    <!--end contact-->