<div class="shop">
<div class="container-fluid">
    <h1 class="page-title">Product Category Fullwidth<span>Shop</span></h1>
</div>
</div>

<nav p-4>
    <div class="container-fluid p-2">
    
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item"><a href="#">Product Category</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fullwidth</li>
        </ol>
    </div>
</nav>

<div class="shopes ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="row ">
<div class="col-md-8 mb-1">
    <div class="shopes-img">
    <img src="assets/banner-1 (2).jpg" class="img-fluid">
    <div class="shopes-tittle st-1">
        <h3 class="shopes-title">Jackets</h3>
        <h4 class="shopes-subtitle">2 Products</h4>
    </div>
</div>
</div>
<div class="col-md-4 mb-2">
    <div class="shopes-img">
    <img src="assets/b.jpg" class="img-fluid">
    <div class="shopes-tittle st-2">
        <h3 class="shopes-title">Jeans</h3>
        <h4 class="shopes-subtitle">1 Products</h4>
    </div>
</div>
</div>

<div class="col-md-4 mb-5">
    <div class="shopes-img">
        <img src="assets/banner-3 (1).jpg" class="img-fluid">
        <div class="shopes-tittle st-3">
            <h3 class="shopes-title">Sport</h3>
            <h4 class="shopes-subtitle">1 Products</h4>
        </div>
    </div>
</div>

<div class="col-md-8 mb-5">
    <div class="shopes-img">
    <img src="assets/banner-4 (1).jpg" class="img-fluid">
    <div class="shopes-tittle st-4">
        <h3 class="shopes-title">Bags</h3>
        <h4 class="shopes-subtitle">4 Products</h4>
    </div>
</div>
</div>







</div>

            </div>

            <div class="col-md-6">
             <div class="row">

                <div class="col-md-8 mb-1">
                    <div class="shopes-img">
                    <img src="assets/banner-5.jpg" class="img-fluid" style="height: 450px;">
                    <div class="shopes-tittle st-5">
                        <h3 class="shopes-title">Dresses</h3>
                        <h4 class="shopes-subtitle">2 Products</h4>
                    </div>
                </div>

                <div class="shopes-img mt-3">
                    
                        <img src="assets/banner-6.jpg" class="img-fluid">
                    

                        <div class="shopes-tittle st-6">
                            <h3 class="shopes-title">Shoes</h3>
                            <h4 class="shopes-subtitle">5 Products</h4>
                        </div>

                </div>
                </div>
                <div class="col-md-4">
                    <div class="shopes-img mb-3">
                    <img src="assets/banner-7.jpg" class="img-fluid">
                  
                </div>
                <div class="shopes-img">
                    <img src="assets/banner-8.jpg" class="img-fluid">
                  
                </div>

             </div>   
            </div>
        </div>
    </div>
</div>


      <!--contact-->
   <div class="contact">
    <div class="container">
    <div class="row">
        <div class="col-md-3">
        
            <div class="widget">
    
    <img src="assets/logo-footer.png" class="img-fluid">
    <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.
    
    </p>
    
            
            </div>
    
    
            </div>
       
        
            <div class="col-md-3">
                <div class="widgett">
        
                <h5>information</h5>
        
                <ul class="menu list-unstyled">
                    <li><a href="#">Aout Molla</a></li>
                    <li><a href="#">How shop Molla</a></li>
                    <li><a href="#">fAQ</a></li>
                    <li><a href="#">contact us</a></li>
                    <li><a href="#">login in</a></li>
                    
                </ul>
        
                </div>
            </div>
  
            <div class="col-md-3">
                <div class="widgett">
        
                <h5>Customer Service</h5>
        
                <ul class="menu list-unstyled">
                    <li><a href="#">payment Method</a></li>
                    <li><a href="#">Money back</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Terms and conditions</a></li>
                    <li><a href="#">privarcy</a></li>
                </ul>
        
                </div>
            </div>
                <div class="col-md-3">
               <h5 >Nawsletterr</h5>
               <p>Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan.</p>
              
                <input placeholder="Enter your email address" type="text">
                      
                </div>

        </div>
    </div>


</div>

<!--end contact-->

    