
<!--home-->
<div class="home">

<div id="carouselId" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselId" data-slide-to="0" class="active"></li>
    <li data-target="#carouselId" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img src="assets/slide-2.jpg"  class="img-fluid" alt="First slide">
    </div>
    <div class="carousel-item">
      <img src="assets/slide-1.jpg" class="img-fluid" alt="Second slide">
    </div>
  </div>
  
</div>


  </div>
<!--end home-->
<div class="scroll">
    <button id="goup" class="buton">Goup to </button>
  </div>
  

<!--end sale-->
<div class="sale">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="divimghp1">
        <img src="assets/banner-1 (1).jpg "  class="img-fluid">
        <div class="hp1">
          <span>Trending now shopping</span>
          <h3>This week most</h3>
        
        </div>
      </div>
    </div>
<div class="col-md-6">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="divimghp1" >
          <img src="assets/banner-2 (1).jpg" class="img-fluid">
          <div class="hp2">
            <span>Trainers &amp; Sportwear<br>Sale Up to 70% off</span>
            <h3>This week most </h3>
           
          </div>
        </div>

      </div>
      <div class="col-md-12">
        <div class="divimghp1">
          <img src="assets/banner-3.jpg" class="img-fluid">
          <div class="hp3">
            <span>Womens <br>Holiday Clothes</span>
            <h3>This week most</h3>
           
          </div>
        </div>
        
      </div>

    </div>
  </div>
</div>
    </div>
  </div>
</div> 
 <!--end sale-->


 <!--end video-->
<div class="video">
<a href="https://www.youtube.com/watch?v=vBPgmASQ1A0" class="btn-video btn-iframe"></a>
</div>
<!--end video-->


<!--style-->
<div class="style">
  <div class="container">
    <div class="row">
      <div class="col-md-6">




        <div class="banner-set-content text-center">
          <div class="set-content-wrapper">
              <h4>Special</h4>
              <h2 style="font-family: cursive; font-style: italic; font-size: 21px;">Refine Your Style.</h2>

              <p style="font-family: cursive; font-style: normal; font-size: 23px;">Get on our exclusive email list and be the first to hear about sales, coupons, new arrivals and more! </p>

              <div class="banner-set-products">
                  <div class="row">
                      <div class="products">
                          <div class="col-6">
                              <div class="product product-2 text-center">
                                  <figure class="product-media">
                                      <a href="product.html">
                                          <img src="assets/product-13.jpg" alt="Product image" class="product-image">
                                      </a>
                                  </figure>

                                  <div class="product-body">
                                      <div class="product-price">
                                          $24.99
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="col-6">
                              <div class="product product-2 text-center">
                                  <figure class="product-media">
                                      <a href="product.html">
                                          <img src="assets/product-14.jpg" alt="Product image" class="product-image">
                                      </a>
                                  </figure>

                                  <div class="product-body">
                                      <div class="product-price">
                                          $19.99
                                      </div><!-- End .product-price -->
                                  </div><!-- End .product-body -->
                              </div><!-- End .product -->
                          </div><!-- End .col-sm-6 -->
                      </div>
                  </div><!-- End .row -->
              </div><!-- End .banner-set-products -->
          </div><!-- End .set-content-wrapper -->
      </div>















      </div>
      <div class="col-md-6">
        <div class="banner">
        <img src="assets/banner-4.jpg" data-aos="flip-left" class="img-fluid">

        <div class="banner-content">
          <h3 class="banner-title" style="font-size: 40px; font-family: Arial, Helvetica, sans-serif;">Casual basics and<br>trendy key pieces.</h3><!-- End .banner-title -->
          <h4 class="banner-subtitle" style="font-size: 15px">in this look</h4>
          <h4 class="banner-detail">• Rib-knit cardigan <br>• Linen-blend paper bag trousers</h4>
          <h4 class="banner-price">$19.99 - $48.00</h4>
         
      </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--end style-->


<!--sprites-->
<div class="sprites">
<div class="container">
  <h2>New Arrivals</h2>
 <div class="row">
   <div class="col-md-3">
<div class="sprite-item">
    <div class="sprite-img-1  sprite-img-11"></div>
<div class="sprite-info">
    <span>Clothing</span>
    <h3>Linen-dressed</h3>
    <p>$60.00</p>
    <a href="#" class="active" style="background: #e3a84d;">
    </a>
    <a href="#" class="active" style=" background: #f48a5b;">
    </a>
    <a href="#" style="background: #333333;">
    </a>
</div>
</div>
   </div>


   <div class="col-md-3">
<div class="sprite-item">
    <div  class="sprite-img-2 sprite-img-22"></div>
<div class="sprite-info">
    <span>Clothing</span>
    <h3>sandals</h3>
    <p>$70.00</p>
    <a href="#" class="active" style="background: #9fac76;"></a>
    <a href="#" class="active" style=" background: #f48a5b;">
    </a>
    <a href="#" style="background: #333333;"></a>
</div>
</div>
   </div>


   <div class="col-md-3">
<div class="sprite-item">
    <div class="sprite-img-3 sprite-img-33"></div>
<div class="sprite-info">
    <span>Clothing</span>
    <h3>paper bag trousrs</h3>
    <p>$60.00</p>
    <a href="#" class="active" style="background: #e3a84d;">
    </a>
    <a href="#" class="active" style=" background: #f48a5b;">
    </a>
    <a href="#" style="background: #333333;">
    </a>
</div>
</div>
   </div>

   <div class="col-md-3">
<div class="sprite-item">
    <div class="sprite-img-4 sprite-img-44"></div>
<div class="sprite-info">
    <span>Clothing</span>
    <h3>paper shopper</h3>
    <p>$360.00</p>
    <a href="#" class="active" style="background: #9fac76;"></a>
    <a href="#" class="active" style=" background: #f48a5b;">
    </a>
    <a href="#" style="background: #333333;"></a>
</div>
</div>
</div>

</div>
</div>
</div>
<div class="sprites">
  <div class="container">
   <div class="row">
     <div class="col-md-3">
  <div class="sprite-item">
      <div class="sprite-img-5  sprite-img-55"></div>
  <div class="sprite-info">
      <span>Clothing</span>
      <h3>Silk-blend kaftan</h3>
      <p>$370.00</p>
      <a href="#" class="active" style="background: #e3a84d;">
      </a>
      <a href="#" class="active" style=" background: #f48a5b;">
      </a>
      <a href="#" style="background: #333333;">
      </a>
  </div>
  </div>
     </div>
  
  
     <div class="col-md-3">
  <div class="sprite-item">
      <div  class="sprite-img-6 sprite-img-66"></div>
  <div class="sprite-info">
      <span>Clothing</span>
      <h3>Linen-blend jumpsuit</h3>
      <p>$595.00</p>
      <a href="#" class="active" style="background: #9fac76;"></a>
      <a href="#" class="active" style=" background: #f48a5b;">
      </a>
      <a href="#" style="background: #333333;"></a>
  </div>
  </div>
     </div>
  
  
     <div class="col-md-3">
  <div class="sprite-item">
      <div class="sprite-img-7 sprite-img-77"></div>
  <div class="sprite-info">
      <span>Clothing</span>
      <h3>Paper straw shopper</h3>
      <p>$398.00</p>
      <a href="#" class="active" style="background: #e3a84d;">
      </a>
      <a href="#" class="active" style=" background: #f48a5b;">
      </a>
      <a href="#" style="background: #333333;">
      </a>
  </div>
  </div>
     </div>
  
     <div class="col-md-3">
  <div class="sprite-item">
      <div class="sprite-img-8 sprite-img-88"></div>
  <div class="sprite-info">
      <span>Clothing</span>
      <h3>Sandals</h3>
      <p>$120.00</p>
      <a href="#" class="active" style="background: #9fac76;"></a>
      <a href="#" class="active" style=" background: #f48a5b;">
      </a>
      <a href="#" style="background: #333333;"></a>
  </div>
  </div>
  </div>
  
  </div>
  </div>
  </div>
<!--end sprites-->


<!--brand-->
<div class="brand p-4">
    <div class="container">
        <h2 class="text-center pb-4">Shop by Brands</h2>
      <div class="row">
        <div class="col-md-2">
            <img src="assets/i1.png" class="img-fluid">
          </div>
    
    <div class="col-md-2">
            <img src="assets/i2.png" class="img-fluid">
          </div>
          
    <div class="col-md-2">
            <img src="assets/i3.png" class="img-fluid">
          </div>
    
     <div class="col-md-2">
            <img src="assets/i4.png" class="img-fluid">
          </div>
    
    <div class="col-md-2">
            <img src="assets/i5.png" class="img-fluid">
          </div>
          
    <div class="col-md-2">
            <img src="assets/i6.png" class="img-fluid">
          </div>
    
        </div>
         </div>
    </div>
<!--end brand-->

<!--gallery-->
<div class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="cardphoto">
                    <div class="cardinner">
                    <img src="assets/1.jpg" class="img-fluid">
                    <div class="imgoverlay ">
                       
                     </div>
                </div>
            </div>
            </div>
            <div class="col-md-2">
                <div class="cardphoto">
                    <div class="cardinner">
                    <img src="assets/2.jpg" class="img-fluid">
                    <div class="imgoverlay d-flex align-items-center justify-content-center ">
                       
                     </div>
                </div>
            </div>
            </div>
            <div class="col-md-2">
               
                <div class="cardphoto">
                    <div class="cardinner">
                    <img src="assets/3.jpg" class="img-fluid">
                    <div class="imgoverlay d-flex align-items-center justify-content-center overflow-hidden">
                       
                     </div>
                </div>
            </div>
</div>
            <div class="col-md-2">
                <div class="cardphoto">
                    <div class="cardinner ">
                    <img src="assets/4.jpg" class="img-fluid">
                    <div class="imgoverlay d-flex align-items-center justify-content-center overflow-hidden">
                      
                     </div>
                </div>
            </div>
            </div>
            <div class="col-md-2">
                <div class="cardphoto">
                    <div class="cardinner ">
                    <img src="assets/5.jpg" class="img-fluid">
                    <div class="imgoverlay d-flex align-items-center justify-content-center overflow-hidden">
                       
                     </div>
                </div>
            </div>

</div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="cardphoto">
                    <div class="cardinner">
                    <img src="assets/7.jpg"  class="img-fluid">
                    <div class="imgoverlay d-flex align-items-center justify-content-center overflow-hidden">
                        
                     </div>
                </div>
            </div>
            </div>
            <div class="col-md-2">
                <div class="cardphoto">
                    <div class="cardinner">
                    <img src="assets/8.jpg" class="img-fluid">
                    <div class="imgoverlay d-flex align-items-center justify-content-center overflow-hidden">
                       
                     </div>
                </div>
            </div>
            </div>
            <div class="col-md-2">
                <div class="cardphoto">
                    <div class="cardinner">
                    <img src="assets/9.jpg" class="img-fluid">
                    <div class="imgoverlay d-flex align-items-center justify-content-center overflow-hidden">
                       
                     </div>
                </div>
            </div>
</div>
<div class="col-md-2">
    <div class="cardphoto">
        <div class="cardinner">
        <img src="assets/7.jpg"  class="img-fluid">
        <div class="imgoverlay d-flex align-items-center justify-content-center overflow-hidden">
            
         </div>
    </div>
</div>
</div>
            <div class="col-md-2">
                <div class="cardphoto">
                    <div class="cardinner">
                    <img src="assets/3.jpg" class="img-fluid">
                    <div class="imgoverlay d-flex align-items-center justify-content-center overflow-hidden">
                        
                     </div>
                </div>
            </div>

</div>






        </div>
    </div>
</div>
<!--end gallery-->

<!--payment-->
<div class="payment p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="p1">
                    <i class="fa fa-id-card-o fa-3x" style="color:burlywood;" aria-hidden="true"></i>  
                        <div class="hp1">
                        <h2>payment&npabDelivery</h2>
                        <p>Free shipping for orders over $50</p>
                    </div>
                    </div>
            </div>
<div class="col-md-4">
                    <div class="p1">
                        <i class="fa fa-address-card fa-3x" style="color:burlywood;" aria-hidden="true"></i>
                        <div class="hp1">
                            <h2>payment&npabDelivery</h2>
                            <p>Free shipping for orders over $50</p>
                        </div>
                    </div>
</div>
<div class="col-md-4">
                 <div class="p1">
                    <i class="fa fa-credit-card-alt fa-3x"  style="color:burlywood;" aria-hidden="true"></i>
                 
                  
                    <div class="hp1">
                        <h2>payment&npabDelivery</h2>
                        <p>Free shipping for orders over $50</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--end payment-->

<!--contact-->
<div class="contact">
    <div class="container">
    <div class="row">
        <div class="col-md-3">
        
        <div class="widget">

<img src="assets/logo-footer.png" class="img-fluid">
<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>

<p>Got Question? Call us 24</p>
<h4>+0123 456 789</h4>
 
        </div>
        </div>
        
          <div class="col-md-3 ">
        <div class="widgett">

        <h5>Information</h5>

        <ul class="menuu list-unstyled">
            <li><a>About</a></li>
            <li><a>shop </a></li>
            <li><a>Press</a></li>
            <li><a>OurBlog</a></li>
            <li><a>Advertising</a></li>
           
        </ul>
        </div>
    </div>
  
           <div class="col-md-3">
        <div class="widgett">

        <h5>Customer Service</h5>

        <ul class="menuu list-unstyled">
            <li><a>payment</a></li>
            <li><a>moneyback</a></li>
            <li><a>return</a></li>
            <li><a>shipping</a></li>
            <li><a>terms </a></li>
         
        </ul>

        </div>
    </div>

        
    <div class="col-md-3">
        <div class="widgett">

        <h5>My account</h5>

        <ul class="menuu list-unstyled">
            <li><a>signin</a></li>
            <li><a>view card</a></li>
            <li><a>shist</a></li>
            <li><a>Faqs</a></li>
          
        </ul>

        </div>
    </div>
        </div>

    </div>

</div>
<!--end contact-->
<hr>
<!--footer-->
<div class="footer">
    <p>© 2020 MollaService. All Rights Reserved</p>
</div>
<!--end footer-->

